/* Media Querries */

@media screen and (max-width: 1024px) {
    .hero {
        font-size: 1.4rem;
    }
    .container-header {
        background-position: left center;
        position: relative;
    }
    .nav-link {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        opacity: 1;
        top: -1000%;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .nav-link.active {
        background: #131313;
        top: 15%;
        left: 50%;
        opacity: 1;
        z-index: 99;
        height: 50vh;
        font-size: 1.2rem;
    }
    .nav__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    /* main */
    /* Main */
    .products_link {
        display: none;
    }
    .products_section {
        margin: 0 auto;
        text-align: center;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        width: 45%;
        justify-content: center;
    }
    .card img {
        width: 100%;
    }
    /* FOOOTERRRRR */
    footer {
        padding: 0;
        display: block;
        align-items: center;
    }
    footer .container {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .left__footer {
        margin-top: 2rem;
        display: flex;
        justify-content: center
    }
    footer .right__footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    footer .right__footer h1 {
        color: #fff;
        text-align: left;
        font-size: 1.4rem;
    }
    footer .right__footer li {
        font-size: 1.1rem;
    }
    footer .right__footer .footer_menu {
        display: none;
    }
    footer .right__footer .footer_menu.active {
        display: block;
        padding: 10px 30px;
    }
    .footer_bar {
        display: flex;
        flex-direction: column;
    }
    .garis {
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin-top: 1rem;
        opacity: 0.5;
    }
    .store_bar,
    .contact_bar,
    .products_bar {
        display: flex;
        justify-content: space-between;
    }
    .store,
    .products,
    .contact {
        margin-bottom: 50px;
    }
    .bar {
        width: 35px;
        height: 4px;
        margin: 2px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }
    .footer_bar {
        transform: translate(5%, 20%);
    }
    .footer_bar.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    .footer_bar.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .footer_bar.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /* footer .right__footer .footer_menu {
        display: none;
    }
    footer .right__footer .footer_menub.active {
        display: block;
    } */
    .copy-right {
        margin-bottom: 30px;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 767px) {
    .hero {
        font-size: 1.3rem;
        margin-top: 80px;
        padding: 30px;
        height: 300px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
    .hero h1 {
        margin: 0;
        justify-content: center;
    }
    .logo img {
        width: 200px;
    }
    .container-header {
        background-position: left center;
    }
    #hamburger_bar {
        position: absolute;
        top: 12%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .bar {
        width: 30px;
        height: 3px;
        margin: 2px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }
    /* Services responsive */
    .card-1 {
        flex-direction: column;
        font-size: 3rem;
        margin-top: -70px;
    }
    .card-1 h1 {
        margin-top: 50px;
    }
    .card-1 .kata {
        width: 50%;
    }
    .card-2 {
        flex-direction: column;
    }
    .card-2 h1 {
        margin-top: 50px;
    }
    .card-2 .kata {
        width: 50%;
    }
    .card-2 .image {}
    .card-3 {
        flex-direction: column;
        font-size: 3rem;
    }
    .card-3 h1 {
        margin-top: 50px;
    }
    .card-3 .kata {
        width: 50%;
    }
    .card-1,
    .card-2,
    .card-3 {
        margin-bottom: 6rem;
    }
    /* aside instagram */
    .article-container {
        max-width: 450px;
        height: 450px;
    }
    .article-card {
        height: 320px
    }
}